@import "reset";

body {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    .content {
        margin-top: 30px;
        width: 60%;
        height: 100vh;
        background-color: salmon;
        box-shadow: 0 0 20px black;
        .title {
            font-family: 'Comic Sans MS',sans-serif;
            font-weight: bold;
            letter-spacing: 5px;
            margin-top: 20px;
            text-align: center;
            font-size: 25px;
        }
        .tool {
            text-align: center;
            margin-top: 30px;
        }
        ul {
            margin: 30px;
            li {
                background-color: white;
                margin: 5px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                border: 1px solid black;
                 p {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}